[alias]
    a  = add
    ad = add
    ap = add -p
    pa = reset -p
    ai = add -i

    rp = reset -p

    b = branch
    br = branch

    st = status

    ci = commit
    cis = commit -S  # signing
    cif = commit --fixup
    cifp = commit --fixup HEAD
    cim = commit -m
    cam = commit -Am
    cia = commit --amend

    cp = cherry-pick

    cl = clone

    co = checkout

    df = diff
    dfs = diff --staged
    diffstat = diff --stat -r
    wdf = diff --word-diff
    wdfs = diff --staged --word-diff

    lg = log -p
    lo = log --decorate
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lgl = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
    alltags = log --decorate --oneline --simplify-by-decoration
    who = shortlog -s --

    ps = push
    psf = push --force-with-lease  # don't force push if remote history has changed since last sync
    psaume = push --set-upstream origin --all
    pl = pull

    rb = rebase
    ri = rebase -i
    rbc = rebase --continue
    rbs = rebase --skip

    rst = restore
    rt = restore
    rs = restore
    rst = restore --staged

    ss = stash
    sa = stash apply
    sp = stash pop
    sl = stash list
    sd = stash drop
    sh = stash show

[user]
	signingkey = ~/.ssh/key.pub
[init]
	defaultBranch = main
[pull]
	rebase = false
[rerere]
	enabled = true
[rebase]
	autosquash = true
[gpg]
	format = ssh  # use my ssh key instead of gpg one to sign
