[alias]
        a  = add
        ap = add -p
        st = status
        ci = commit
        cim = commit -m
        cam = commit -Am
        cia = commit --amend
        br = branch
        co = checkout
        df = diff
        dfs = diff --staged
        lg = log -p
        lo = log --decorate
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        lgl = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
        pa = add --patch
        ai = add -i
        who = shortlog -s --
        ps = push
        pl = pull
        diffstat = diff --stat -r
        ss = stash
        sa = stash apply
        sp = stash pop
        sl = stash list
        sd = stash drop
